@import 'https://fonts.googleapis.com/css?family=Handlee|Montserrat+Alternates';
@import 'https://fonts.googleapis.com/css?family=Raleway:300,400|Roboto:300,400';

body {
	background-color: grey;
}

.heading {
	font-family: 'Montserrat Alternates', 'Open Sans', sans-serif;
}

.cover-image {
	/*background-image: url('../images/portfolio3.jpeg');*/
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.repoLogo {
	width: 100%;
	text-align: center;
}

.image-center {
	display: block;
	margin: auto;
}

.title {
	font-family: 'Raleway', 'Roboto', serif;
	font-size: 36px;
	word-wrap: break-word;
	text-transform: capitalize;
}

.description {
	font-family: Roboto, sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-align: center
}

#app {
}

body {
	font-family: Raleway, sans-serif;
}

.custom-h1 {
	font-family: Raleway, Roboto, sans-serif;
	font-size: 52px;
	letter-spacing: 3px;
	font-weight: 300;
	/*color: #cc3333;*/
}

.custom-heading {
	font-family: Raleway, Roboto, sans-serif;
	font-size: 72px;
	font-weight: 300;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.brand {
	font-family: Raleway, Roboto, sans-serif;
	font-weight: 300;
	padding: 0 10 10 10;
}

.custom-btn {
	display: inline-block;
	width: 200px;
	padding: 15px;
	margin: 5px;
	font-size: 16px;
	color: #000;
	font-family: Raleway, Roboto, sans-serif;
	background-color: transparent;
	font-weight: 300;
	border: 2px solid #000;
	text-align: center;
	outline: none;
	text-decoration: none;
}
.custom-btn:hover,
.custom-btn:active {
	background-color: rgba(206, 93, 93, 0.7);
	border-color: #000;
	color: #fff;
	transition: color 0.3s ease-in,
		background-color 0.3s ease-in,
		border-color 0.3s ease-in;
}